.container{
    padding-top: 20px;
    padding-bottom: 20px;
}

li, ol{
    font-size: small;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.time{
    float: right;
}

a{
    margin-right: 20px;
}

.brand{
    color: black;
}